.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 15px 0;
  width: 100%;
  background: #000;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        width: 40px;
        height: 40px;
      }
      a {
        display: flex;
        gap: 6px;
        align-items: center;
        color: #8000ff;
      }
    }
    nav {
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        gap: 25px;
        align-items: center;
        p {
          .link {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0%;
            transition: 0.2s;
            &.active {
              color: #8000ff;
            }
          }
        }
      }
    }
  }
}
