.Welcome {
  position: relative;
  width: 100%;
  height: 700px;
  ::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 250px;

    background: linear-gradient(
      180deg,
      rgba(4, 21, 45, 0) 0%,
      rgba(4, 21, 45, 0.024) 20%,
      rgba(4, 21, 45, 0.068) 40%,
      rgba(4, 21, 45, 0.17) 60%,
      rgba(4, 21, 45, 0.374) 80%,
      #04152d 99%
    );
  }
  .bgImage {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .content {
    width: 100%;
    height: clamp(380px, 70vw, 750px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      width: clamp(300px, 90vw, 1000px);
      height: clamp(120px, 30vw, 220px);
      text-align: center;
      z-index: -1;
      padding: 0 10px;
      color: white;
      font-size: clamp(30px, 8vw, 90px);
      font-weight: 700;
      line-height: clamp(5px, 12vw, 90px);
      letter-spacing: 0%;

      color: #fff;
      text-shadow: 0 0 5px #f0f, 0 0 10px #f0f, 0 0 20px #f0f;
    }
    h4 {
      color: rgb(255, 255, 255);
      font-size: clamp(16px, 3vw, 24px);
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: center;
    }
    .search_movie {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      input {
        padding: 5px 30px;
        color: black;
        font-size: clamp(14px, 2vw, 20px);
        width: clamp(220px, 60vw, 850px);
        height: clamp(45px, 6vw, 60px);
        left: 0;
        border: none;
        top: 264px;
        border-radius: 30px 0px 0px 30px;
        background: rgb(255, 255, 255);
      }
      button {
        cursor: pointer;
        width: clamp(80px, 15vw, 150px);
        border: none;
        color: white;
        font-size: clamp(14px, 2vw, 20px);
        margin-left: -5px;
        height: clamp(45px, 6vw, 60px);
        left: 850px;
        top: 265px;
        border-radius: 0px 30px 30px 0px;
        background: linear-gradient(
          110.07deg,
          rgb(32, 128, 132) 0.99%,
          rgb(101, 21, 150) 100%
        );
      }
    }
  }
}
