.mainContent {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .title {
    font-size: 60px;
    font-weight: 700;
    animation: colorChange 3s infinite;
  }
  // @keyframes colorChange {
  //   0% {
  //     color: rgb(102, 37, 254);
  //   }
  //   100% {
  //     color: rgb(13, 180, 192);
  //   }
  // }
}
