.Recommendations {
  margin-top: 50px;
  h1 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 400;
  }
  .content {
    display: flex;
    align-items: start;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 20px;
    .slider {
      cursor: pointer;
      position: relative;
      img {
        width: clamp(103px, 15vw, 220px);
        height: clamp(150px, 20vw, 330px);
        border-radius: 8px;
        transition: all 0.3s;
        &:hover {
          filter: brightness(0.7);
        }
      }
      .rating {
        position: absolute;
        bottom: 30;
        right: 0;
        margin: 4px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        width: clamp(15px, 3vw, 50vw);
      }
      .ganre {
        position: absolute;
        bottom: 65;
        left: 10px;
      }
      h1 {
        width: clamp(103px, 15vw, 220px);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: clamp(14px, 4vw, 20px);
        margin-top: 15px;
        margin-bottom: 5px;
        font-weight: bold;
      }
      span {
        font-size: clamp(12px, 3vw, 18px);
        color: #808895;
      }
    }
  }
}
