.Card {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  position: relative;

  img {
    width: clamp(193px, 15vw, 220px);
    height: clamp(280px, 25vw, 330px);

    border-radius: 8px;
    object-fit: cover;
    transition: all 0.3s;
    @media (max-width: 768px) {
      width: clamp(113px, 35vw, 220px);
      height: clamp(280px, 45vw, 330px);
    }
    &:hover {
      filter: brightness(0.7);
    }
  }

  .rating {
    position: absolute;
    bottom: 50;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
  }

  .ganre {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 75;
    gap: 5px;
    left: 20;
  }
  @media (max-width: 425px) {
    .rating {
      bottom: 40;
    }
  }
  h1 {
    width: clamp(103px, 15vw, 220px);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: clamp(14px, 4vw, 20px);
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  span {
    font-size: clamp(12px, 3vw, 18px);
    color: #808895;
  }
}
