.Popular {
  .content {
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      z-index: 120;

      .switcher {
        padding: 2px;
        border-radius: 20px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        .btn {
          width: clamp(80px, 8vw, 90px);
          height: clamp(25px, 3vw, 30px);
          border: none;
          font-size: clamp(12px, 1.5vw, 14px);
          border-radius: 20px;
          background: white;
          color: black;
          cursor: pointer;
          transition: 0.5s;
          &.active {
            background: linear-gradient(
              110.07deg,
              rgb(4, 135, 140) 0.99%,
              rgb(81, 2, 130) 100%
            );
            color: white;
          }
        }
      }
    }
    .bottom {
      .keenSlider {
        .slider {
          img {
            position: relative;
            width: 100%;
            height: auto;
            border-radius: 10px;
            object-position: center;
          }
          .rating {
            position: absolute;
            bottom: 40;
            right: 0;
            margin: 4px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
          }
          .ratingPop {
            position: absolute;
            bottom: 40;
            right: 0;
            margin: 4px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
          }
          .ganre {
            position: fixed;
            bottom: 75;
            left: 10px;
          }
          .ganrePop {
            position: absolute;
            bottom: 75;
            left: 10px;
          }
          @media (max-width: 1000px) {
            .rating {
              width: 40px;
              bottom: 45;
            }
            .ratingPop {
              width: 40px;
              bottom: 45;
            }
          }
          h1 {
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: clamp(12px, 4vw, 20px);
            margin-top: 20px;
            margin-bottom: 5px;
          }

          span {
            font-size: clamp(10px, 3vw, 15px);
            color: #808895;
          }
        }
      }
    }
  }
}
